body{
    margin: 0;
    background-color:rgb(230, 201, 202);
    margin-bottom: 50px;

}

main{
    position: relative;
}


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

*{
    text-decoration: none;

}

#introabout{
    border: none;
    font-size: 3.5vw;
    width: 100px;
    position: absolute;
    top: 3vw;
    left: 34vw;
    text-decoration: underline;
    text-decoration-color: rgb(214, 72, 96);
    text-decoration-style: double;
    font-family: "Abel", serif;

}

#infoabout{
    border: solid;
    font-size: 3.2vw;
    width: 81vw;
    height: 65vw;
    position: absolute;
    top: 10vw;
    left: 5vw;
    padding: 5px;
    border-radius: 8px;
    border-width: 8px;
    border-left-color: fuchsia ;
    border-right-color: cyan;
    border-top-color: green;
    border-bottom-color: lime;
    text-align: center;
    padding-top: 4vw;

}

#Motto{
    border: none;
    font-size: 3.2vw;
    position: absolute;
    top: 92vw;
    left: 33vw;
    width: 21vw;
    text-align: center;
    border-radius: 10px;
    font-family: "Rubik Vinyl", serif;
    font-weight: bold;
    font-style: normal;
    background: linear-gradient(to right, rgb(252, 147, 225), rgb(21, 188, 230));


}

#Mottodetails{
    border: none;
    font-size: 3.2vw;
    border-width: 0.4vw;
    position: absolute;
    top: 97vw;
    left: 24vw;
    width: 38vw;
    text-align: center;
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-color: deeppink;
    border-radius: 12px;
}

#Mission{
    border: none;
    font-size: 3.2vw;
    position: absolute;
    top: 108vw;
    left: 33vw;
    width: 21vw;
    text-align: center;
    border-radius: 10px;
    font-family: "Rubik Vinyl", serif;
    font-weight: bold;
    font-style: normal;
    background: linear-gradient(to right, rgb(252, 147, 225), rgb(21, 188, 230));
    border-radius: 12px;
}

#Missiondetails{
    border: none;
    font-size: 3.2vw;
    border-width: 0.4vw;
    position: absolute;
    top: 113vw;
    left: 24vw;
    width: 47vw;
    text-align: center;
    text-align: left;
    padding-left: 10px;
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-color: deeppink;
    border-radius: 12px;

}

#Vision{
    border: none;
    font-size: 3.2vw;
    position: absolute;
    top: 140vw;
    left: 33vw;
    width: 21vw;
    text-align: center;
    border-radius: 10px;
    font-family: "Rubik Vinyl", serif;
    font-weight: bold;
    font-style: normal;
    background: linear-gradient(to right, rgb(252, 147, 225), rgb(21, 188, 230));
    

}

#visiondetails{
    border: none;
    font-size: 3.2vw;
    border-width: 0.4vw;
    position: absolute;
    top: 145vw;
    left: 24vw;
    width: 38vw;
    text-align: center;
    text-align: left;
    padding-left: 10px;
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-color: deeppink;
    border-radius: 12px;


}

#thanks{
    border: none;
    font-size: 3.2vw;
    position: absolute;
    top: 177vw;
    left: 5vw;
    width: 29vw;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, rgb(252, 147, 225), rgb(21, 188, 230));
    border-radius: 8px;
    
}

#thanksdetails{
    border: none;
    font-size: 3.2vw;
    position: absolute;
    top: 182vw;
    left: 5vw;
    width: 53vw;
    height: 45vw;
    text-align: center;
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
}

#creditsabout{
    border: none;
    font-size: 2vw;
    position: absolute; /* Stick to the bottom */
    top: 230vw; /* Align to the bottom of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100%; /* Full width */
    text-align: center;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, rgb(252, 147, 225), rgb(21, 188, 230));
    border-radius: 8px 8px 0 0; /* Rounded corners at the top */
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    padding: 10px 0; /* Add some padding for better appearance */
    
    
}

#contactabout{
    border: none;
    font-size: 2vw;
    position: absolute; /* Stick to the bottom */
    top: 218vw; /* Align to the bottom of the viewport */
    left: 73vw;
    width: 13vw;
    height: auto;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    background: linear-gradient(to right, rgb(252, 147, 225), rgb(21, 188, 230));
    border-radius: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#contactdetailsabout{
    border: none;
    position: absolute; /* Stick to the bottom */
    top: 222.5vw; /* Align to the bottom of the viewport */
    left: 67vw;
    width: 28vw;
    height: 10vw;
    margin: 0;
    color: #000000;
  
    padding: 0;


}
#contactdetailsabout li, #contactdetailsabout a {
    color: black; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    font-style: normal;
    
    

    
}

#contactdetailsabout li:first-child, #contactdetailsabout a:first-child{
    margin-right: 0px;
    margin-left: 0px;
}


@media screen and (min-width: 500px) {
    #contactabout{
        top: 218vw;
    }
    #contactdetailsabout{
        top: 225vw;
    }



}




