body{
    margin: 0;
    background-color:rgb(230, 201, 202);
    margin-bottom: 0px;

}

main{
    position: relative;
}


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:rgb(230, 201, 202);
    padding: 0;
    overflow-x: hidden;
}

*{
    text-decoration: none;

}

.navbar{
    border: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-width: 2px;
    text-align: center;
    background: linear-gradient(to right, rgb(252, 147, 225), rgb(21, 188, 230));
    background-repeat: no-repeat;
    margin-top: 0px;
    position:sticky;
    top:0px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    z-index: 1000;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    
}


    

.navdiv{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
#logopic{
    height: 50px;
    width: 50px;
    float:inline-start;
    filter:brightness(120%);
    position: relative;
    left: -1vw;
  
   
}

.logo a{
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
    position: relative;
    top: 15px;
    text-shadow: 1px 1px 0px  grey;
    color: white;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    
}
li a{
    color: aliceblue;
    font-size: 12px;
    font-family: "Rubik Glitch", serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    
}
li a:hover{
    text-decoration: underline;
    text-decoration-color: pink;
}
li a:active{
    text-decoration: underline;
    text-decoration-color: pink;
}
.logo a:hover{
    text-shadow: 1px 1px 0px  grey;
    
}
.logo a:active{
    text-shadow: 0px 0px 0px  grey;
}


#intro{
    background: linear-gradient(to right, rgb(243, 137, 155), cyan);
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 20px;
    position: absolute;
    left: 33vw;
    top: 4vw;
    text-align: center;
    text-shadow: 0px 0cap 0px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#info{
    border: none;
    width: 60vw;
    height: 110px;
    position: absolute;
    top:9vw;
    left:23vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;
    background-repeat: no-repeat;
    font-size: 2.5vw;
    
    
}

#done{
    border-radius: 16px;
    background:linear-gradient(to left,  rgb(243, 137, 155), cyan);
    position: absolute;
    top: 34vw;
    left: 45vw;
    border-color :fuchsia;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: 3s linear 0s infinite running myscale;
    font-size: 2.5vw;

}
#done:active{
    border-color :fuchsia;

}

#done:hover{

    
    animation: 3s linear 0s infinite running mycolor;

}

@keyframes myscale{
    50%{transform: scale(0.8, 0.8);}
}

#change{
    border: solid;
    border-radius: 8px;
    background:linear-gradient(to left,  rgb(243, 137, 155), cyan);
    position: absolute;
    top: 32vw;
    left: 23vw;
    width: 15vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    text-align: center;
    border-color: blueviolet;
 
}

#credits{
    border: none;
    font-size: 2vw;
    position: absolute; /* Stick to the bottom */
    bottom: -5vw;/* Align to the bottom of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100%; /* Full width */
    text-align: center;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, rgb(252, 147, 225), rgb(21, 188, 230));
    border-radius: 8px 8px 0 0; /* Rounded corners at the top */
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    padding: 10px 0; /* Add some padding for better appearance */
    
    
}

#contact{
    border: none;
    font-size: 2vw;
    position: absolute; /* Stick to the bottom */
    bottom: 10vw; /* Align to the bottom of the viewport */
    left: 73vw;
    width: 13vw;
    height: auto;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    background: linear-gradient(to right, rgb(252, 147, 225), rgb(21, 188, 230));
    border-radius: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#contactdetails{
    border: none;
    position: absolute; /* Stick to the bottom */
    bottom: 2vw; /* Align to the bottom of the viewport */
    left: 67vw;
    width: 28vw;
    height: 10vw;
    margin: 0;
    color: #000000;
  
    padding: 0;


}
#contactdetails li, #contactdetails a {
    color: black; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    font-style: normal;
    
    

    
}

#contactdetails li:first-child, #contactdetails a:first-child{
    margin-right: 0px;
    margin-left: 0px;
}



@media screen and (max-width: 545px) {
    .navdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    li {
        margin-right: 2px; /* Adjust the value as needed for smaller screens */
    }

    li:last-child {
        margin-right: 0px; /* Remove margin from the last item */
    }

    .logo a {
        font-size: 2.9vw;
    }

    li a {
        font-size: 2.7vw;
    }
    #change{
        height: 2.5vw;
        font-weight: 100;
    }

}

@media screen and (min-width: 546px) {
    .navdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    li {
        margin-right: 10px; /* Adjust the value as needed for smaller screens */
    }

    li:last-child {
        margin-right: 40px; /* Remove margin from the last item */
    }
    #change{
        border-radius: 12px;
     
    }

    
}

@media screen and (min-width: 841px) {
    #intro{
        background: linear-gradient(to right, rgb(243, 137, 155), cyan);
        background-repeat: no-repeat;
        font-size: 2.2vw;
        border: none;
        border-radius: 12px;
        width: 35vw;
        height: 2.5vw;

    }
    
}
@media screen and (max-width: 840px) {
    #intro{
        background: linear-gradient(to right, rgb(243, 137, 155), cyan);
        background-repeat: no-repeat;
        font-size: 2.5vw;
        border: none;
        border-radius: 12px;
        width: 40vw;
        height: 2.8vw;

    }
    
}


@media screen and (max-width: 600px) {
    #intro{
       top: 20vw;
       font-size: 2.9vw;
        width: 43vw;
        height: 3.5vw;
    }
    
    #info{
        top:25vw;
        font-size: 2.9vw;
        width: 70vw;

        
    }
    
    #done{
        top: 50.5vw;
        font-size: 3.9vw;
        left: 48vw;


    }
    #change{
        top: 47.5vw;
        font-size: 2.5vw;
        width: 20vw;
        left: 23vw;
        height: 4vw;

    }




}


@media screen and (max-width: 580px) {
    #contactdetails{
        bottom: 5vw;
    }
    #contact{
        bottom: 12vw;
    }

}
@media screen and (max-width: 440px) {
    #contactdetails{
        bottom: 8vw;
    }
    #contact{
        bottom: 14vw;
    }

}
@media screen and (max-width: 370px) {
    .navdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    li {
        margin-right: 0px; /* Adjust the value as needed for smaller screens */
    }

    li:last-child {
        margin-right: 0px; /* Remove margin from the last item */
    }


}
@media screen and (max-width: 680px) {
    #intro{
        font-size: 3vw;
        width: 46vw;
        height: 3.5vw;
    }

}

@media screen and (max-height: 420px) and (orientation:landscape) {
    #credits{
        bottom: -27vw;/* Align to the bottom of the viewport */

    }
    #contact{
        bottom: -13vw; /* Align to the bottom of the viewport */
    }
    #contactdetails{
        bottom: -21vw; /* Align to the bottom of the viewport */
    }


}