#bodydonate{
    margin: 0;
    background-color:rgb(230, 201, 202);
    margin-bottom: 0px;
    background-image: url(help6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
}
#Gallery{
    border: solid;
    position: absolute;
    right: 4vw;
    top: 4vw;
    border-radius: 14px;
    font-family: "Rubik Vinyl", serif;
    font-weight: bold;
    font-style: normal;
    background: linear-gradient(to right, rgb(252, 147, 225), rgb(21, 188, 230));
    border-color :fuchsia;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: 3s linear 0s infinite running myscale;
    font-size: 2.5vw;
    

    
}
#Gallery:active{
    border-color :fuchsia;

}

#Gallery:hover{

    
    animation: 3s linear 0s infinite running mycolor;

}

@keyframes myscale{
    50%{transform: scale(0.8, 0.8);}
}
#doncontainer{
    border: solid;
    width: 60vw;
    height: 35vw;
    position:absolute;
    top: 3vw;
    left: 12vw;
    padding: 5px;
    border-radius: 8px;
    border-width: 8px;
    border-left-color: fuchsia ;
    border-right-color: cyan;
    border-top-color: green;
    border-bottom-color: lime;
    text-align: center;
   
}

#don2{
    border-radius: 8px;
    background:linear-gradient(to left,  rgb(243, 137, 155), cyan);
    position: absolute;
    top: 23vw;
    left: 28vw;
    border-radius: 12px;
    border-color :fuchsia;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: 3s linear 0s infinite running myscale;
    font-size: 2.5vw;

}
#don2:active{
    border-color :fuchsia;

}

#don2:hover{

    
    animation: 3s linear 0s infinite running mycolor;

}

@keyframes myscale{
    50%{transform: scale(0.8, 0.8);}
}

#sendtxt{
    border: solid;
    width: 25vw;
    text-align: center;
    position:absolute;
    top: 4vw;
    left: 19.5vw;
    font-family: "Abel", serif;
    border-radius: 10px;
    border-left-color: lime;
    border-top-color: lime;
    border-right-color: lime;
    border-bottom-color: lime;
    padding: 2px;
    font-weight: 500;
    font-size: 3vw;
    background: linear-gradient(to right, lime, white);
    background-repeat: no-repeat;
    border-width: 3px;
}

#amount{
    position: absolute;
    top: 14vw;
    left: 25vw;
    border: solid;
    font-family: "Abel", serif;
    border-left-color: lime;
    border-top-color: lime;
    border-right-color: palevioletred;
    border-bottom-color: palevioletred;
    width: 15vw;
    height: 3vw;
    font-size: 2vw;
    

}
#enteramount{
    position: absolute;
    top: 11.9vw;
    left: 25vw;
    font-size: 1.8vw;
    font-family: "Abel", serif;
    font-weight: 500;

}


@media screen and (max-width: 680px) {
    #doncontainer{
        top:  30vw;

    }
}
@media screen and (max-width: 442px) {
    #enteramount{
        font-size: 1.9vw;
        top: 11.85vw;
        font-weight: 590;
        
    }


}
@media screen and (max-width: 4px) {
    #doncontainer{
        top:  45vw;

    }

}






@media screen and (max-width: 580px) {
    #doncontainer{
        width: 64vw;
        height: 34vw;

    }
    #sendtxt{
        font-weight: 500;
        font-size: 3.8vw;
        top: 3.2vw;
    }
    
    #amount{
        width: 17vw;
        font-size: 2.5vw;
        
    
    }
    #enteramount{
        position: absolute;
        top: 11.3vw;
        left: 25vw;
        font-size: 2.5vw;
        font-family: "Abel", serif;
        font-weight: 500;
    
    }
    #don2{
        font-size: 3vw;
    
    }


}




